.main-container {
    height: 500px;
    width: 700px;
    display: flex;
    background-color: rgb(44, 13, 116);
    border-radius: 2px;
}

.sidebar {
    flex: 2;
}

.signup-form {
    flex: 1;
    background-color: white;
    height: 500px;
    padding: 5px;
}
