.signup-container {
    padding: 0 25px;
}

.top-space {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(44, 13, 116);
    background-image: linear-gradient(
        to top right,
        rgb(44, 13, 116) 0%,
        rgb(147, 88, 198) 74.2%
    );
}

.form {
    flex-direction: column;
}

.form > * {
    margin: 10px 0;
}

.form-label {
    display: block;
    font-size: 12px;
    color: rgb(44, 13, 116);
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(44, 13, 116);
    border-radius: 2px;
    text-align: left;
    color: #444;
}

.form-button button {
    margin-top: 20px;
    background-color: rgb(34, 188, 151);
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    letter-spacing: 0.3rem;
}

.form-button button:focus {
    outline: none;
}

.form-error {
    font-size: 0.8rem;
    color: red;
}
